<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> <!-- Trás um arquivo JSON-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Entrar</h1>
    <form action="/login" method="post">
      <table>
        <tr>
          <td>e-mail</td>
          <td><input type="email" name="email" id="input-email"></td>
        </tr>
        <tr>
          <td>senha</td>
          <td><input type="password" name="senha" id="password"></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Entrar">
          </td>
        </tr>
      </table>
    </form>

  </body>
</html>
